Source: amplet2
Section: net
Priority: optional
Maintainer: Brendon Jones <brendonj@waikato.ac.nz>
Build-Depends: debhelper (>= 9~), autotools-dev, python, libunbound-dev, libssl-dev, libpcap-dev, libyaml-dev, libprotobuf-c0-dev, protobuf-c-compiler, protobuf-compiler, libconfuse-dev, libcurl4-openssl-dev, librabbitmq-dev (>= 0.7.1), libwandevent-dev, python-setuptools, flex
Standards-Version: 3.8.4
Homepage: http://amp.wand.net.nz
#Vcs-Git: git://git.debian.org/collab-maint/amplet2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/amplet2.git;a=summary

Package: amplet2-client
Architecture: any
Replaces: amplet2-client-lite (<< 0.8.0)
Breaks: amplet2-client-lite (<< 0.8.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, libwandevent (>= 3.0.0), libcurl3, librabbitmq4 (>=0.7.1), libunbound2, libpcap0.8, rsyslog, libprotobuf-c0, lsb-base (>= 3.0-6)
Recommends: rabbitmq-server (>= 3.4.0)
Description: AMP Network Performance Measurement Suite - Client Tools
 This package contains the client tools for the AMP Measurement Suite. These
 tools read a schedule file and measure the network performance to specified
 targets. The resulting data is transferred back to one or more collectors.
 Software to run an AMP collector is found in the amp-server package.

Package: amplet2-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rabbitmq-server (>= 3.1.5), python-protobuf
Conflicts: amp-server
Description: AMP Network Performance Measurement Suite - Collector Server
 This package contains the server tools used to run an AMP collector.
 Typically your collector will accept lots of measurement results from a
 set of amplets running the software found in the amplet-client package.

Package: amplet2-client-lite
Architecture: all
Depends: amplet2-client (>= 0.8.0), ${misc:Depends}
Priority: extra
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
