Source: amplet2
Section: net
Priority: optional
Maintainer: Brendon Jones <brendonj@waikato.ac.nz>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, python
Standards-Version: 3.8.4
Homepage: http://amp.wand.net.nz
#Vcs-Git: git://git.debian.org/collab-maint/amplet2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/amplet2.git;a=summary

Package: amplet2-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwandevent, libcurl3, librabbitmq0
Description: AMP Network Performance Measurement Suite - Client Tools
 This package contains the client tools for the AMP Measurement Suite. These
 tools read a schedule file and measure the network performance to specified
 targets. The resulting data is transferred back to one or more collectors.
 Software to run an AMP collector is found in the amp-server package.

Package: amplet2-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rabbitmq-server
Conflicts: amp-server
Description: AMP Network Performance Measurement Suite - Collector Server
 This package contains the server tools used to run an AMP collector.
 Typically your collector will accept lots of measurement results from a
 set of amplets running the software found in the amplet-client package.
