Source: amplet2
Section: net
Priority: optional
Maintainer: Brendon Jones <brendonj@waikato.ac.nz>
Build-Depends: debhelper (>= 9~), autotools-dev, python3-all, libunbound-dev, libssl-dev, libpcap-dev (>= 1.7.4), libyaml-dev, libprotobuf-c-dev, protobuf-c-compiler, protobuf-compiler, debhelper (>= 9.20160709), libconfuse-dev, libcurl4-openssl-dev, librabbitmq-dev (>= 0.7.1), libevent-dev (>= 2.0.21), python3-setuptools, flex, automake, libtool, libcap2-bin, libcap-dev, dh-exec, dh-python, libpjproject-dev <pkg.amplet2.build-sip>, libwebsockets-dev (>> 2.0.0) <pkg.amplet2.build-youtube>, libjansson-dev (>= 2.10) <pkg.amplet2.build-youtube>
Standards-Version: 3.8.4
Homepage: http://amp.wand.net.nz
Vcs-Git: https://github.com/wanduow/amplet2.git
Vcs-Browser: https://github.com/wanduow/amplet2
Testsuite: autopkgtest

Package: amplet2-client
Architecture: any
Replaces: amplet2-client-lite (<< 0.8.0)
Breaks: amplet2-client-lite (<< 0.8.0)
Conflicts: amplet2-chromium-libs
Depends: ${shlibs:Depends}, ${misc:Depends}, libevent-2.0-5 (>= 2.0.21)|libevent-2.1-6|libevent-2.1-7, libcurl3|libcurl4, librabbitmq4 (>= 0.7.1), libunbound2|libunbound8, libpcap0.8 (>= 1.7.4), rsyslog, libprotobuf-c1, sysvinit-utils (>= 2.93-8), init-system-helpers (>= 1.22), adduser, libcap2-bin, procps
Recommends: rabbitmq-server (>= 3.4.0)
Suggests: amplet2-client-sip <pkg.amplet2.build-sip>, amplet2-client-youtube <pkg.amplet2.build-youtube>
Description: AMP Network Performance Measurement Suite - Client Tools
 This package contains the client tools for the AMP Measurement Suite. These
 tools read a schedule file and measure the network performance to specified
 targets. The resulting data is transferred back to one or more collectors.
 Software to run an AMP collector is found in the amp-server package.

Package: amplet2-client-sip
Architecture: any
Build-Profiles: <pkg.amplet2.build-sip>
Depends: ${shlibs:Depends}, ${misc:Depends}, amplet2-client (= ${source:Version}), libpj2, libpjmedia2, libpjsip2, libpjsua2, libmirclient9 <bionic>
Description: AMP Network Performance Measurement Suite - SIP test
 This package contains the SIP test for the AMP Measurement Suite.

Package: amplet2-client-youtube
Architecture: amd64 arm64 armhf
Build-Profiles: <pkg.amplet2.build-youtube>
Replaces: amplet2-chromium-libs
Breaks: amplet2-chromium-libs
Depends: ${shlibs:Depends}, ${misc:Depends}, amplet2-client (= ${source:Version}), chromium | chromium-browser | firefox | firefox-esr, libwebsockets8 | libwebsockets15 | libwebsockets16, libjansson4
Recommends: chromium-codecs-ffmpeg-extra
Description: AMP Network Performance Measurement Suite - YouTube test
 This package contains the YouTube test for the AMP Measurement Suite.

Package: amplet2-server
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rabbitmq-server (>= 3.1.5), python3-ampsave
Conflicts: amp-server
Description: AMP Network Performance Measurement Suite - Collector Server
 This package contains the server tools used to run an AMP collector.
 Typically your collector will accept lots of measurement results from a
 set of amplets running the software found in the amplet-client package.

Package: python3-ampsave
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-protobuf
Description: AMP Network Performance Suite - Test data extraction (Python 3)
 This package contains modules for extracting data from test result messages.
