#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

# Based on CDBS, we need to get some arguments to the python install calls
# to build the package slightly differently to normal. Don't appear to have
# access to all the variables I want to use (e.g. $pythondir) so this is
# currently hardcoded...
export DEB_PYTHON_INSTALL_ARGS = --install-layout=deb --single-version-externally-managed --record $(CURDIR)/debian/tmp/usr/lib/python2.7/dist-packages/ampsave/install_files.txt


%:
	dh $@ --with python2 --with=systemd

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_configure:
	if [ -x $(CURDIR)/bootstrap.sh ]; then $(CURDIR)/bootstrap.sh; fi
	dh_auto_configure -- $(shell dpkg-buildflags --export=configure)

override_dh_systemd_enable:
	dh_systemd_enable --no-enable
