% AMP sample rabbitmq.config for central collector
[
  {ssl, [{versions, ['tlsv1.2']}]},
  {rabbit, [
    {tcp_listen_options,
         [binary,
         {packet,        raw},
         {reuseaddr,     true},
         {backlog,       128},
         {nodelay,       true},
         {linger,        {true, 0}},
         {exit_on_close, false}]
    },
    {tcp_listeners, [{"localhost", 5672}]},
    {ssl_listeners, [5671]},
    {ssl_options, [
                   {cacertfile,"/path/to/cacert.pem"},
                   {certfile,"/path/to/cert.pem"},
                   {keyfile,"/path/to/key.pem"},
                   {verify,verify_peer},
                   {fail_if_no_peer_cert,true},
                   {honor_cipher_order,true}
                   ,{versions, ['tlsv1.2']}
                   ,{ciphers,[
                     {ecdhe_ecdsa,aes_256_gcm,null,sha384},
                     {ecdhe_rsa,aes_256_gcm,null,sha384},
                     {ecdhe_ecdsa,aes_128_gcm,null,sha256},
                     {ecdhe_rsa,aes_128_gcm,null,sha256},
                     {ecdhe_ecdsa,aes_256_cbc,sha384,sha384},
                     {ecdhe_rsa,aes_256_cbc,sha384,sha384},
                     {ecdhe_ecdsa,aes_128_cbc,sha256,sha256},
                     {ecdhe_rsa,aes_128_cbc,sha256,sha256}
                   ]}
                  ]},
    {auth_mechanisms, ['PLAIN', 'EXTERNAL']},
    {log_levels, [{connection, error}]},
    {ssl_cert_login_from, common_name},
    {default_user, <<"guest">>},
    {default_pass, <<"guest">>}
  ]},
  {kernel, [

  ]}
,
% Additional config
  {amqp_client, [{ssl_options, [ {versions, ['tlsv1.2']}, {ciphers,[ {ecdhe_ecdsa,aes_256_gcm,null,sha384}, {ecdhe_rsa,aes_256_gcm,null,sha384}, {ecdhe_ecdsa,aes_128_gcm,null,sha256}, {ecdhe_rsa,aes_128_gcm,null,sha256}, {ecdhe_ecdsa,aes_256_cbc,sha384,sha384}, {ecdhe_rsa,aes_256_cbc,sha384,sha384}, {ecdhe_ecdsa,aes_128_cbc,sha256,sha256}, {ecdhe_rsa,aes_128_cbc,sha256,sha256} ]} ]}]}
].
% EOF
